# --- INGESTION ---
# Mode
APP_ENV=local

# AWS credentials 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS S3 Source
AWS_REGION=
S3_BUCKET=
KNOWLEDGE_S3_KEY=
EMBEDDING_MODEL_S3_KEY=

# --- VECTOR DATA BASE---
# fill only for production, otherwise leave empty
# S3_INDEX_URI=
# CHROMA_DATA_PATH=

# --- API ---
OPENAI_API_KEY=

CHROMA_HOST=
CHROMA_PORT=
CHROMA_COLLECTION_NAME=

AWS_REGION=
S3_BUCKET_NAME=
EMBEDDING_MODEL_S3_KEY=
RERANKER_MODEL_S3_KEY=
MODELS_CACHE_DIR=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- BOT ---
FASTAPI_URL=
DISCORD_BOT_TOKEN=
ALLOWED_CHANNELS=